@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Dancing+Script:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&family=Righteous&display=swap');

body{
  margin: 9vh 0 13vh 0;
}
.main{
  margin: 0 2vw 0 2vw;
}

section{
  margin: 0 2vw 0 2vw;
}

h1, h2, h3{
  font-family: 'Aref Ruqaa Ink';
  margin: 0;
  padding: 0;
}

nav h3{
  font-size: 3vh;
  margin-left: 4vw;
}
.navbar-chapters {
  font-family: 'Aref Ruqaa Ink';
  display: flex;
  flex-wrap: wrap;
  margin-left: 5vw;
  padding: 0;
}

.navbar-chapters li{
  width: 10vw;
  font-size: 2vh;
  text-align: center;
  list-style-type: none;
  padding: 1vh 2vw;
  border: 1px outset rgba(0,0,0,0.75);
}

.navbar-books{
  font-family: 'Aref Ruqaa Ink';
  display: flex;
  padding: 2vw;
  flex-wrap: wrap;
  justify-content: center;
}

.navbar-books li{
  width: 80vw;
  font-size: 5vw;
  text-align: center;
  list-style-type: none;
  padding: 1vh 1vw;
  border: 1px outset rgba(0,0,0,0.75);
}

nav li:hover{
  cursor:pointer;
}
nav li:active{
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}



p{
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 2.5vh;
}
 
.header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0 2vw;
  width: 100%;
  color: white;
  background-color:darkslategrey;
  justify-content: space-between;
  align-items: center;
}

.search{
  width: 40vw;
  margin-right: 5vw;
  height: inherit;
  font-size: 3vh;
}

.footer{
  position: fixed;
  display: flex;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 2vh 2vw;
  width: 100%;
  color: white;
  background-color:darkslategrey;
  justify-content: space-evenly;
  align-items: baseline;
  list-style-type: none;
}
.footer li {
  border-radius: 45px;
  padding: 5px 10px;
  border: 1px solid white;
  
}

.button{
  margin-right: 5vw;
  padding: 0;
}

.main-title {
  font-size: 4vh;
}




.display {
  display:table;

}
.display-none{
  display: none;
}



.chapters li{
  width: 4vh;
  align-items: center;
  text-align: center;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 2vh;
}

.title h2, .title h3 {
  margin: 0;
  padding: 0;
}

.bolder {
  font-weight: 600;
  color: rgba(0, 0, 0, .9)
}

.choose-book {
  border-radius: 5px;
  border: 1px white solid;
  padding: 0 1vw 0.8vh 2.5vw;
  margin-right: 5vw;
}

.choose-chapter{
  border-radius: 5px;
  border: 1px white solid;
  padding: 0 3vw .9vh 3vw;
}